*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.logo img{
    width: 100px;
    position: absolute;
    margin: 10px;
    margin-left: 150px;
    margin-top: 20px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(4, 100, 63);
    padding: 10px;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 110%;
    background:rgb(4, 100, 63);
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
}

nav ul li a:hover{
    color: yellow;
    transition: .5s;
}
